text {
  font-family: Raleway, sans-serif;;
  fill: #666;
  font-size: 4em;
}

.FifthsCircle {
  display: inline-block;
  user-select: none;
  height: 512px;
  background-color: #f6f6f2;
}

/* Base */

.Base__circle {
  fill: none;
  stroke: rgba(224, 224, 221, 0.39);
  stroke-width: 3;
}

.Base__cross-line {
  stroke: #e4e4e0;
  stroke-width: 2; 
  stroke-opacity: 0.5;
}

/* Chord Names */
.ChordNames__chord {
  fill: #dfdcd9;
  text-anchor: middle;
  cursor: pointer;
  font-size: 1em;
}

.ChordNames__chord.is-active {
  fill: #575554;
}

.ChordNames__chord.is-highlighted {
  font-weight: bold;
}

.ChordNames__chord--type-major {
  font-size: 60px;
}

.ChordNames__chord--type-major.is-root,
.ChordNames__chord--type-major.is-highlighted {
  fill: #2B80FC;
  font-weight: bold;
}

.ChordNames__chord--type-minor {
  font-size: 40px;
}

.ChordNames__chord--type-minor.is-root,
.ChordNames__chord--type-minor.is-highlighted {
  fill: #fc3e2b;
  font-weight: bold;
}

.ChordNames__accidental {
  baseline-shift: super;
  font-size: 0.6em;					
}
